<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            Book <img src="images/book-icon.png" alt="book-icon" width="50" height="50"> Haven
        </header>
        {{{body}}}
        <footer>
            <article class="contact">
            <!--
            <h3>
                Find us on:
            </h3>
            <a href="https://github.com/solaunar/"><img class="clickable_icon" src="images/icons8-github.svg" alt="git"></a>
            <a href="https://www.linkedin.com/in/ana-lleshi-8873a7209/"><img class="clickable_icon"
                    src="images/icons8-linkedin.svg" alt="linkedin"></a>
            </article>
            -->
            <p id="bottom">Ana Lleshi © 2021</p>
        </footer>
    </body>
</html>