<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <p>Peepee poopoo</p>
        </header>
        {{{body}}}
        <footer>
            <p>Poopoo peepee</p>
        </footer>
    </body>
</html>