<main>
    <h1>Filter your favorite books!</h1>
    <span class="search">
        <input type="text" name="search-field" placeholder="Search here..." id="search-input">
        <button type="submit" id="search-button" onclick="">Go!</button>
    </span>
    <section id="results">

    </section>
</main>