<main>
    <h1>Get your hands on a book today!</h1>
    <div class="search">
        <input type="text" name="search-field"  placeholder="Search here...">
        <button type="submit" id="search-button">Go!</button>
    </div>
    <ul class="results">

    </ul>
</main>