<main>
    <h1>Get your hands on a book today!</h1>
    <span class="search">
        <input type="text" name="search-field" placeholder="Search here..." id="search-input">
        <button type="submit" id="search-button" onclick="fetchRelevantBookData()">Go!</button>
    </span>
    <section id="results">

    </section>
</main>