*{
    font-family: 'Odibee Sans';
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Odibee Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/odibeesans/v4/neIPzCSooYAho6WvjeToRbk1cJA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
    background-color: rgb(255, 208, 255);
}
header{
    display: flex;
    padding: 0.5%;
    background-color: rgb(212, 0, 255);
    font-size: 4rem;
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 0, 255);
    font-size: 2rem;
    padding: 1%;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 1%;
}
input{
    width: 90%;
    height: 2rem;
    border-radius: 3%;
    border: 0.2vh solid rgb(0, 128, 107);
    padding: 0.5%;
    font-size: 1.5rem;
    background-color: inherit;
    margin-top: 1%;
    background-color: whitesmoke;
}
#search-button{
    width: 10%;
    height: 2rem;
    border-radius: 3%;
    font-size: 1.5rem;
    border: 0.2vh solid rgb(0, 128, 107);
    background-color: rgb(212, 0, 255);
    color: whitesmoke;
}
#results{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
li{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 2%;
    text-align: left;
}
.search{
    margin-left: 25%;
    margin-right: 25%;
}
.book-results{
    border-style: double;
    margin-bottom: 1%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
}
.favorite-save-btn, .favorite-delete-btn{
    margin-top: 1%;
    width: 50%;
    height: 2rem;
    border-radius: 3%;
    font-size: 1.5rem;
    border: 0.2vh solid rgb(0, 128, 107);
    background-color: rgb(212, 0, 255);
    color: whitesmoke;
}
.favorite-message{
    background-color: rgb(113, 0, 136);
    color: whitesmoke;
    border-style: double;
    margin: 1%;
    padding: 1%;
}
ul{
    list-style-type: none;
}